################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test
/packages
/WpfApplication1/bin/
/WpfApplication1/obj/
*.suo
/.vs/*
